<!--=============== MAIN ===============-->
<main class="container section">
    <h1>Manage Category</h1>
</main>

<section class="form__section manage__form">
    <input type="text" placeholder="Search.." style="width:300px">
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="scroll-container">
            <% categories.forEach(category => { %>
            <tr>
                <td><%= category.title %></td>
                <td><a href="/category/edit?categoryId=<%= category.id %>"><i class='bx bxs-edit-alt btn-success'></i></a></td>
                <td><i class='bx bxs-trash btn-danger' onclick="deleteCategoryWithConfirmation('<%= category.id %>')" id="deleteButton"></i></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</section>

<!-- Delete Category -->

<script>
    function deleteCategoryWithConfirmation(categoryId) {
    const confirmation = confirm("Attention! Are you sure to delete this category");
    if (confirmation) {
        deleteCategory(categoryId);
    }
    }

    async function deleteCategory(categoryId){
        const db = firebase.firestore();

        // Get a reference to the post document in Firestore
        const categoryRef = db.collection('categories').doc(categoryId);
        try {
            categoryRef
            .delete()
            .then(() => {
            console.log('Category successfully deleted!');
            // Redirect or update the UI as needed
            window.location.href = '/category/manage';
            })
            .catch((error) => {
            console.error('Error deleting category:', error);
            });
        } catch (error){
            console.error('Error deleting categories:', error);
        }
    }
</script>