<!--=============== MAIN ===============-->
<main class="container section edit">
    <a href="<%= backId %>" class="back__button" alt="Back"><i class='bx bx-left-arrow-circle'></i></a>
    <h1><%= editTitle %></h1>
    <a class="delete__button" alt="Delete Post" id="deleteButton"><i class='bx bxs-trash'></i></a>
</main>