<!-- TOP Navigation -->
<ul class="top__nav">
    <li>
        <a href="/home">
            <img src="/assets/img/logo.png" alt="" style="max-height: 45px;" class="logo1">
        </a>
    </li>
    <li style="float:right; display: flex; align-items: center;" class="author__profile">
        Hello,
        <div>
            <a href="#about" style="color: red; font-weight: 600; font-size: 1rem;"><b id="name"></b>
                <img id="myImage" alt="Avatar" class="avatar dropdown" name="myImage" >
            </a>
            <ul>
                <li><a href="#" id="logout-btn"> Log out</a></li>
            </ul>  
        </div>
        
    </li>
  </ul>


  <script>
    let userData;
    async function getUserDetails(uid) {
    const db = firebase.firestore();
    const userRef = db.collection('users').doc(uid);
    const userSnapshot = await userRef.get();
  
    if (userSnapshot.exists) {
      userData = userSnapshot.data();
      const userDetailsElement = document.getElementById('name');
      userDetailsElement.innerHTML = `
        ${userData.firstName} ${userData.lastName}
      `;
      const myImage = document.getElementById('myImage');
      myImage.src = userData.imageUrl;
      console.log('User data:', userData);
    } else {
      console.error('User not found in the database');
    }
  }
  
    firebase.auth().onAuthStateChanged(async (user) => {
    if (user) {
      console.log('User signed in:', user.uid);
      await getUserDetails(user.uid);
    } else {
      console.log('No user is currently signed in');
    }
  });
  </script>

